@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    color: rgb(245, 243, 243);
    background-color: rgb(33, 34, 63);
  }
}

@layer components {
  .menuLink {
    @apply cursor-pointer hover:text-[#c5c5c5];
  }
.tags {
  background-color: #0abde3;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  padding: 3px 10px;
  display: inline-block;
  color: #fff;
  font-size: 12px;
}

.tags :last-child{
  margin-right: 0;
}

.tags:nth-child(2){
  background-color: #a55eea;
}

.tags:nth-child(3){
  background-color: #9a4703;
}

.tags:nth-child(4){
  background-color: #4c00ff;
}


}

.header_top_icon_wrapper:hover{
    color: #ff8f9c;
        transition: all 0.4s;
        }
       


    .menuLink:hover {
        color: #ff8f9c;
        transition: all 0.4s;
        }
        .menuLink::after {
        position: absolute;
        content:"";
        background-color: #ff8f9c;
        height: 3px;
        width: 100%;
        bottom: -5px;
        left: 0;
        scale: 0;
        transform-origin: left; transition: all 0.4s;
        }
        .menuLink:hover::after {
        scale: 1;
        }


